body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  padding-left: 0;
  width: 600px;
  list-style: none;
}

.list-item {
  border: 1px solid #eee;
  padding: 8px 16px;
  margin-top: -1px;
}

.list-item-drag {
  background-color: burlywood;
}
